body {
    font-family: Arial, sans-serif;
    
}

.question {
    margin-bottom: 10px;
    margin-top: 5%;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}
.question{margin-top: 5%;}

button{border-radius: 20px;
background-color: green;
padding: 12px;
margin-top: 5%;
}

button:hover{background-color:red}

label {
    display: block;
    margin-bottom: 6px;
}