body{ background: linear-gradient(to right, rgb(0, 0, 255), rgb(255, 255, 255), rgb(255, 0, 0));
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;

}

h1{color: #02232e;
font-size: 25px;
margin-bottom: 8%;}

p{color:#333;
margin-top: 6%;
font-size: 18px;
line-height: 2.0;
margin-left: 10%;
margin-right: 10%;}

p.test{color:rgb(2, 63, 2);
font-size: 25px;
line-height: 2.0;
margin-left: 10%;
margin-right: 10%;}



a{color: #00f;
    font-size: 22px;}
a:hover{color:darkorange;
}

footer{margin-top: 8%;
color:black;
font-size: 16px;
margin-bottom: 500px;}