body{background-image: url('index.jpg');
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;

}

h1{color:white;
font-size: 25px;
margin-bottom: 8%;}

p{color:snow;
margin-top: 6%;
font-size: 18px;
line-height: 2.0;
margin-left: 10%;
margin-right: 10%;}

p.test{color:rgb(11, 247, 11);
font-size: 25px;
line-height: 2.0;
margin-left: 10%;
margin-right: 10%;}



a{color: yellow;
    font-size: 22px;}
a:hover{color:darkorange;
}

footer{margin-top: 8%;
color:rgb(241, 149, 29);
font-size: 16px;
margin-bottom: 500px;}